[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetaSubtract"]
	path = MetaSubtract
	url = https://github.com/cran/MetaSubtract
[submodule "lodGWAS"]
	path = lodGWAS
	url = https://github.com/cran/lodGWAS
